.Roman {
    background-color: bisque;
    width: 1000px;
    height: 600px;
    margin: auto;

}
body {
    background-color: lightcyan;
}
.Nile {
    background-color: aqua;
    width: 100%;
    height: 20%;
    text-align: center;
}
.Blue {
    background-color: darkseagreen;
    width: 100%;
    height: 60%;
    display: flex;

}
.Nairobi {
    background-color: chartreuse;
    width: 30%;
    height: 100% ;
}
.Kampala {
    background-color: cornflowerblue;
    width: 70%;
    height: 100%;
}
.Congo {
    background-color: dimgrey;
    width: 100%;
    height: 20%;
}
.green {
    text-align: center;
    color: red;
    padding-top: 50px;
}
.sony {
    padding-left: 20px;
}
.daniel {
    text-align: center;
    color: white;
    
}